<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Operations |About me</title>
    <link rel = "StyleSheet" href = "../static/css/aboutme.css">
</head>
<body>
    <header>
        <h1 align="center">
            About me
        </h1>
    </header>
    <p align = 'justified'>
        Hello, My name is Ritabrata Dutta, and  I am a 20y/o 1st year B.Tech student at Adamas University, Barasat, West Bengal, India. My goal to create this app was to make a fully customizable gui for my pdf operation app which I made in python using tkinter but the lack of customizability led me to take a discord like approach and convert a webapp into a standalone desktop app. You can find the original app code on my github page, some of the reverse conversions are still work in progress and I will update it here as soon as I am done with the tkinter version. That's all thank you.
    </p>
    <footer>
        <a href= "{{url_for('index')}}">Home</a>
    </footer>
</body>
</html>