<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image to PDF Converter</title>
    <link rel="stylesheet" href="../static/css/img2pdf.css">
</head>
<body>
    <header>
        <h1>Convert Image to PDF</h1>
    </header>
    <div class="header-nav-gap"></div>
    <nav>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('aboutme')}}">About</a>
        <a href="{{url_for('word2pdf')}}">Word to PDF</a>
        <a href="{{url_for('ppt2pdf')}}">PowerPoint to PDF</a>
        <a href="{{url_for('excel2pdf')}}">Excel to PDF</a>
        <a href="#">PDF to Word</a>
        <a href="#">PDF to Excel</a>
        <a href="#">PDF to PowerPoint</a>
        <a href="#">PDF to Images</a>
        <a href="{{url_for('pdfmerge')}}">PDF Merge</a>
    </nav>
    <main>
        <form action="/img2pdf" method="POST" enctype="multipart/form-data">
            <label for="files">Choose image files to convert:</label>
            <input type="file" name="files" id="files" accept="image/*" multiple required>
            <br><br>
            <button type="submit">Convert to PDF</button>
        </form>
    </main>
</body>
</html>
